{% extends 'basic.html' %}
{% block style %}
<style>
    * {
        box-sizing: border-box;
    }

    /* Add a gray background color with some padding */
    body {
        font-family: Arial;
        padding: 20px;
        background: #f1f1f1;
    }

    /* Header/Blog Title */
    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Fake image */
    .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }

    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Footer */
    .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }
</style>
{% endblock %}
{% block body %}
<div class="row g-0 gap-4 my-3 align-items-center justify-content-center">
    {% for i in page_obj %}
    <div class="col-3">
        <a href="{% url 'open-blog' i.slug %}" class="text-decoration-none text-dark">
            <div class="card" style="overflow: hidden;">
                <div class="card-header" style="height: 100px;">
                    <h2 class="text-capitalize">{{i.blog_title}}</h2>
                </div>
                <div class="card-body" style="height: 500px;">
                    <h5>{{i.blog_uploaded_on}}</h5>
                    <img src='/media/{{i.blog_image}}' style="height: 400px; width: 100%;" alt="...">
                </div>
                <div class="card-footer" style="height: 100px;">
                    <h3>{{i.blog_auther}}</h3>
                    <p>{{i.blog_content|safe|striptags|truncatechars:120}}</p>
                </div>
            </div>
        </a>
        <div class="d-flex align-items-center justify-content-center gap-2 my-2">
            <a href="{% url 'updateblog' i.slug %}">
                <button class="btn btn-primary text-white text-capitalize">update</button></a>
            <!-- <a href="{% url 'deleteblog' i.slug %}">
                <button class="btn btn-danger text-white text-capitalize">delete</button></a> -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal{{i.slug}}">
                Delete
            </button>

        </div>

        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="Modal{{i.slug}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are You Sure You Want to Delete It!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                        <a href="{% url 'deleteblog' i.slug %}">
                            <button class="btn btn-primary text-white text-capitalize"
                                data-bs-dismiss="modal">delete</button></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">


        {% if page_obj.has_previous %}

        <li class="page-item "><a class="page-link" href="?page=1">&laquo First</a></li>
        <li class="page-item"><a class="page-link"
                href="?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}
            </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&laquo First</a></li>
        </a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.number}}">{{page_obj.number}}
            </a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}
            </a></li>
        <li class="page-item "><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last &raquo</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Last
                &raquo</a>
        </li>
        {% endif %}

    </ul>
</nav>
<script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
{% endblock %}
{% block script %}
<script>
    CKEDITOR.replace('co');
</script>
{% endblock %}