{% extends 'basic.html' %}
{% block style %}
<style>
    * {
        box-sizing: border-box;
    }

    /* Add a gray background color with some padding */
    body {
        font-family: Arial;
        padding: 20px;
        background: #f1f1f1;
    }

    /* Header/Blog Title */
    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: white;
    }

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {
        float: left;
        width: 75%;
    }

    /* Right column */
    .rightcolumn {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

    /* Fake image */
    .fakeimg {
        background-color: #aaa;
        width: 100%;
        padding: 20px;
    }

    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Footer */
    .footer {
        padding: 20px;
        text-align: center;
        background: #ddd;
        margin-top: 20px;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }
</style>
{% endblock %}
{% block body %}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Write Blog</h2>
                            {% for i in blogs %}
                            <form action="{% url 'updateblog1' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    <input type="text" placeholder="{{i.blog_auther}}" value="{{i.blog_auther}}"
                                        name="au" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" placeholder="{{i.blog_title}}" name="tt" value="{{i.blog_title}}"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" style="height:150px;" placeholder="{{i.blog_content}}" name="co"
                                        value="{{i.blog_content}}" class="form-control form-control-lg">
                                </div>


                                <div class="form-outline mb-4">
                                    <input type="file" name="im" src='/media/{{i.blog_image}}'>
                                </div>



                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-primary text-white btn-block btn-lg gradient-custom-4 w-100">update</button>
                                </div>

                                {% endfor %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}